<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kodu</th>
            <th>Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @for (ders of dersler; track ders.id) {
        <tr class="table-row-hover">
            <td>{{ ders.kodu }}</td>
            <td>{{ ders.adi }}</td>
            <td style="cursor: pointer;">
                <button (click)="onViewDetail(ders.id!)" class="btn btn-sm btn-primary me-1">Detay</button>
                <button (click)="onEdit(ders.id!)" class="btn btn-sm btn-primary me-1">Düzenle</button>
                <button (click)="onDelete(ders.id!)" class="btn btn-sm btn-danger">Sil</button>
            </td>
        </tr>
        } @empty {
        <tr>
            <td colspan="6" class="text-center">Kayıt bulunamadı.</td>
        </tr>
        }
    </tbody>
</table>


