<div class="container mt-5" style="max-width:400px;">
    <h3 class="text-center mb-4">🔐 Giriş Yap</h3>

    @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Kullanıcı Adı</label>
            <input class="form-control" formControlName="username" />
        </div>

        <div class="mb-3">
            <label class="form-label">Şifre</label>
            <input type="password" class="form-control" formControlName="password" />
        </div>

        <button class="btn btn-primary w-100" type="submit" [disabled]="loading || form.invalid">
            @if (loading) { Giriş devam eden... } @else { Giriş Yap }
        </button>
    </form>
</div>