<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AKSİS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="talepDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-envelope"></i> Talepler
          </a>
          <ul class="dropdown-menu" aria-labelledby="talepDropdown">
            <li><a class="dropdown-item" routerLink="/talep"><i class="bi bi-list"></i> Tüm Talepler</a></li>
            <li><a class="dropdown-item" routerLink="/talep/new"><i class="bi bi-plus-circle"></i> Yeni Talep</a></li>
            <li><a class="dropdown-item" routerLink="/talep/kanban"><i class="bi bi-kanban"></i> Kanban Görünümü</a></li>
            <li><a class="dropdown-item" routerLink="/talep/by-durumu/acik"><i class="bi bi-exclamation-circle"></i> Açık Talepler</a></li>
            <li><a class="dropdown-item" routerLink="/talep/by-durumu/devam"><i class="bi bi-arrow-repeat"></i> Devam Edenler</a></li>
            <li><a class="dropdown-item" routerLink="/talep/by-atanan/me"><i class="bi bi-person-badge"></i> Bana Atananlar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
