<div class="container mt-4">
    @if (isEditMode) {
    <h5 class="mb-3">Video Dersi Düzenle</h5>
    } @else {
    <h5 class="mb-3">Yeni Video Dersi Ekle</h5>
    }

    <section class="card p-4 shadow-sm border-0">
        <app-videoders-form [initialData]="videodersRequest" (save)="onSave($event)">
        </app-videoders-form>
    </section>

    <div class="mt-4 d-flex justify-content-end">
        <a routerLink="/videoders" class="btn btn-outline-secondary">
            ← Listeye Dön
        </a>
    </div>
</div>